body {
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

h2,
h3,
h5 {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
  text-align:center;

}

.header-logo {
  font-size: 6em;
  text-align: center;
  color: #e04860;
}
.header-title {
  margin-top: -3em;
  margin-bottom: 1em;
  text-align: center;
}

.contents {
  padding: 2em 1em 1em;
  background: #404040;
}
.contents-title{
color: #fff;
}
.contents ul {
  margin: 0;
  padding: 0;
}

.contents li {
  margin-bottom: 1em;
  background: #fff;
}

.content {
  padding: 1em;
}

footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #404040;
}

@media only screen and (min-width: 600px) {

    .contents ul {
      display: flex;
      justify-content: space-around;
    }

    .contents li {
      width: 31%;
    }

}
